@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: #1b1f3b;
  color: white;
  overflow-x: hidden;
}

.section-divider {
  width: 100%;
  height: 8px; /* o 4px, 10px, ajustable */
  background-color: white;
}

.header {
  background-color: #0F1126;
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #1d1d1d;
}

.header-left {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 32px;
  margin-right: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.05);
}

.brand {
  color: white;
  font-weight: 700;
  font-size: 18px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.brand:hover {
  opacity: 0.8;
}

.nav-menu {
  display: flex;
  gap: 32px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  font-size: 15px;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  bottom: 0; /* <- esto alinea la línea con el borde inferior del header */
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-menu a:hover::after {
  transform: scaleX(1);
}

.social-icons {
  display: flex;
  gap: 16px;
  height: 100%;
  align-items: center;
  position: relative;
}

.social-icons a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.social-icons a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.social-icons a:hover::after {
  transform: scaleX(1);
}

.social-icons img {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
  transition: transform 0.2s;
  display: block;
}
/* Hamburguesa */
.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    margin-left: auto;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0F1126;
    padding: 20px;
    z-index: 1000;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .mobile-menu.show {
    display: flex;
  }
  
  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
  
  .mobile-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .mobile-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
  }
  
  .mobile-socials img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
  }

/* HERO */

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}


.hero-logo {
  position: absolute;
  top: 40px;
  width: 80%;
  max-width: 800px;
  z-index: 2;
  pointer-events: none;
}

/* .hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, transparent, #142033);
  z-index: 2;
  pointer-events: none;
} */

.hero h1 {
  font-size: 4rem;
  margin: 20px 0;
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  background-size: cover;
  background-position: center;
}

.section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.section-content {
  flex: 1;
  max-width: 600px;
}

.section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.vr-section {
  background-image: url('../Assets/img/Backgrounds/vrbg.png');
  background-size: cover;
  background-position: center;
  padding: 60px 60px 60px 0px ;
  box-sizing: border-box;
}

.vr-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 40px;
}

.vr-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 500px;
}

.vr-title-box {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px 60px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  box-sizing: border-box;
  max-width: 92%;     /* o 900px */
  text-align: right;
}
.vr-title-box h2 {
  margin: 0;
  font-size: 2.8rem;
}

.vr-desc-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  max-width: 600px;
  margin-top: 28rem;
}

.vr-desc-box p {
  margin: 0;
  font-size: 1.35rem;
}

.vr-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 230px);
  gap: 20px;
}

.image-grid img {
  width: 230px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  background-color: white;
}

.vr-button {
  margin-top: 10px;
  background-color: #ffa600;
  color: white;
  padding: 24px 90px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.vr-button:hover {
  transform: scale(1.05);
}

/* FIN DE VR */
  

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 2; /* para estar encima del degrade */
  }

  .klee-section {
    background-image: url('../Assets/img/Backgrounds/kleebg.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0px 60px 60px;
    box-sizing: border-box;
  }

  .klee-content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 40px;
  }
  
  .klee-left {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* padding-top: 250px; */
  }
  
  .klee-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    gap: 20px;
  }
  
  .klee-image-grid img {
    width: 230px;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
    background-color: white;
  }
  
  .klee-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
  }
  
  .klee-title-box {
    background-color: rgba(18, 12, 108, 0.6);
    color: white;
    padding: 15px 60px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    box-sizing: border-box;
    max-width: 93%;     /* o un valor como 800px */
    margin-left: auto;  /* lo empuja hacia la derecha */
    text-align: left;  /* opcional: alinea el texto a la derecha */
  }
  
  .klee-title-box h2 {
    margin: 0;
    font-size: 2.4rem;
  }
  
  .klee-desc-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 40px;
    max-width: 500px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .klee-button {
    margin-top: 10px;
    background-color: #ffa600;
    color: white;
    padding: 20px 60px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    align-self: flex-start;
    transition: transform 0.2s ease;
  }
  
  .klee-button:hover {
    transform: scale(1.05);
  }

  
.images-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-side .grid img,
.grid img {
    width: 220px;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: #ff7700;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
}

.other-games {
    background: url('../Assets/img/Backgrounds/otherbg.png') center/cover no-repeat;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .section-header{
    z-index: 2;
  }

  .section-header h2 {
    z-index: 2;
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  
  .game-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
  }
  
  .game-block.in-dev {
    flex-wrap: wrap-reverse;
  }
  
  .game-logo {
    width: 140px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  }
  
  .game-info {
    max-width: 380px;
    text-align: left;
  }
  
  .game-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .game-info p {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .btn-play {
    display: inline-block;
    background: #ffd93b;
    color: #000;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
  }
  
  .dev-label {
    display: inline-block;
    background: #0fa3b1;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 0.9rem;
  }
  
  .coming-soon-block {
    margin-bottom: 100px;
    position: relative;
  }
  
  .sleeping-cat {
    width: 120px;
    animation: float 3s ease-in-out infinite;
  }
  
  .coming-text {
    margin-top: 15px;
    font-size: 1.3rem;
    font-style: italic;
    color: #d0e7ff;
  }
  
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
  }




  .footer {
    background: linear-gradient(to bottom, #025373, #000000);
    padding: 20px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    height: 60px;
    margin-bottom: 5px;
  }
  
  .footer-left {
    max-width: 60%;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    display: flex;
    gap: 20px;
  }
  
  .footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-right a {
    margin-left: 15px;
  }
  
  .footer-right img {
    width: 28px;
    height: 28px;
    transition: transform 0.2s;
  }
  
  .footer-right img:hover {
    transform: scale(1.1);
  }
  
  


/* BOCA JUNIORS */

@media screen and (max-width: 768px) {

  /* HEADER */
  .nav-menu {
    display: none !important;
  }

  .social-icons {
    display: none;
  }

  .burger {
    display: block;
    z-index: 1100;
  }

  /* HERO */
  .hero-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* VR SECTION */
  .vr-section {
    background: #202058; /* o cualquier color sólido que combine */
    background-image: none;
    padding: 40px 10px 40px 0px;
  }

  .vr-content {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }

  .vr-title-box h2 {
    font-size: 1.8rem;
  }

  .vr-title-box {
    padding: 20px;
    margin-bottom: 20px;
  }

  .vr-desc-box {
    margin-top: 0;
    border-radius: 16px;
  }

  .image-grid {
    grid-template-columns: 1fr;
  }

  .vr-button{
    font-size: 1.1rem;
    padding: 16px 32px;
  }


  
  /* KLEE SECTION */
.klee-section{
  padding: 40px 0px 40px 10px ;
}

  .klee-content {
    flex-direction: column;
    padding: 0 20px;
    gap: 30px;
  }

.klee-title-box {
    max-width: 100%;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 1.8rem;
  }

  .klee-title-box h2 {
    font-size: 1.8rem;
  }



  .klee-image-grid {
    grid-template-columns: 1fr;
  }

  .klee-desc-box {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
  }

  .klee-button {
    align-self: center;
    padding: 16px 32px;
    font-size: 1.1rem;
  }
  /* OTHER GAMES */
  .game-block {
    flex-direction: column;
    text-align: center;
  }

  .game-info {
    max-width: 100%;
    text-align: center;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-left, .footer-right {
    align-items: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}